@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  .space-y-3 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 0;
  }
}

html {
  font-size: 10px;
}

body {
  min-width: 1080px;
  min-height: 100vh;
  overflow-y: auto;
  font-size: 1.6rem;

  .react-datepicker-popper {
    font-size: medium;
    min-width: 17%;
    color: #5b5b5b;
    .react-datepicker__header {
      min-width: 17%;
      margin-top: 8px;
      background-color: #171a1d;
      color: #737c85;
      border-bottom: none;
      .react-datepicker__day-names {
        .react-datepicker__day-name {
          color: #737c85;
          width: 32px;
        }
      }
    }
    .react-datepicker__triangle {
      display: none;
    }
    .react-datepicker__day--outside-month {
      cursor: default;
      visibility: hidden;
    }
  }
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
}

input[type='checkbox']:checked + label .bg-checkbox-off {
  background-image: url(/icons/checkboxOn.svg);
}

input[type='radio']:checked + label .bg-radio-off {
  background-image: url(/icons/radioOn.svg);
}
