@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

html {
  font-size: 10px;
}

body {
  min-width: 1080px;
  min-height: 100vh;
  overflow-y: auto;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
}

input[type='checkbox']:checked + label .bg-checkbox-off {
  background-image: url(/icons/checkboxOn.svg);
}
